<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	<link rel="stylesheet" type="text/css" href="../../css/stylesheet.css">
	<title>社員管理システム</title>
</head>

<body>
	<header>
		<div class="content">
			<div class="title">社員管理システム</div>
			<div class="user_info">
				ようこそ、<span>鈴木太郎</span>さん
				<span class="pipeline">|</span><a href="http://localhost/ems/logout">ログアウト</a>
			</div>
		</div>
	</header>
	<div class="content">
		<aside class="search">
			<div class="title">社員名検索</div>
			<div class="form">
				<form action="http://localhost/ems/list/empName" method="get">
					<input type="text" name="empName">
					<input type="submit" value="検索">
				</form>
			</div>
		</aside>
		<div class="content">
			<article>
				<h3 class="title">社員登録完了画面</h3>
				<div class="message">
					<p class="complete_message">社員登録処理が完了しました。</p>
					<p class="complete_link"><a href="http://localhost/ems/list">一覧表示に戻る</a></p>
				</div>
			</article>
		</div>
	</div>
	<footer>
		<div class="footer ">
			Copyright(C) 2022 System Shared co., ltd, ALL Rights Reserved
		</div>
	</footer>

</body>

</html>